[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "md2word",
]

[tool.uv.sources]
md2word = { git = "https://github.com/craftsmandigital/md2word.git" }
